</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="/js/app/common.js"></script>
<script>
// 화면 사이즈 변경감지
window.onresize = function() {
  const width = window.innerWidth;

  // 화면 가로 사이즈가 990이상일시 모달 닫기
  if (width >= 990) {
    $('#topMenuModal').modal('hide');
  }
}
</script>
</body>
</html>